
@font-face {
                          font-family: "SFProDisplay-Heavy";
                          src: url('../fonts/SF-Pro-Display-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        
.index {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(19, 222, 161, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.index .group {
  background-color    : rgba(255,255,255,0.0);
  margin-left         : 10px;
  height              : 100%;
  width               : 1289px;
  margin-right        : -10px;
  position            : relative;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .group-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 166px;
  align-items         : center;
  height              : 722px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .group-layout-container > * {
  pointer-events      : auto;
}
.index .group .boomonlywecanr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 211px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.89px;
  line-height         : 45.0px;
}
.index .group .textencryptionand {
  background-color    : rgba(255,255,255,0.0);
  top                 : 361px;
  height              : auto;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.56px;
  line-height         : 30.0px;
}
.index .group .appstoredownloadnoshadow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 489px;
  height              : 68px;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .group .appstoreicon1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : 146px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .group .enphone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : 688px;
  width               : 931px;
  position            : absolute;
  margin              : 0;
  left                : 358px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  
}
@keyframes floating1 {
  from { transform: translate(0,  10px); }
  50%  { transform: translate(0, 0px); }
  to   { transform: translate(0, 10px); }    
}
@keyframes floating {
  from { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

.index .group .bluebubble {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 467px;
  width               : 810px;
  position            : absolute;
  margin              : 0;
  left                : 384px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

.index .group .greenbubble {
  background-color    : rgba(255,255,255,0.0);
  top                 : 144px;
  height              : 420px;
  width               : 616px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
.index .contact {
  background-color    : rgba(255,255,255,0.0);
  right               : 117px;
  top                 : 70px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(119, 253, 213, 1.0);
  text-align          : left;
  letter-spacing      : 0.56px;
  line-height         : 30.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}