

.index {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(19, 222, 161, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.index .group {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1321px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .group-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 224px;
  align-items         : center;
  height              : 679px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .group-layout-container > * {
  pointer-events      : auto;
}
.index .group .group48cn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 679px;
  width               : 918px;
  position            : absolute;
  margin              : 0;
  left                : 403px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .group .u8111u6d1eu952eu76d8uff1au8fd9u53e5u8bddu53eau6709u6211u4eecu770bu5f97u61c2uff01 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 165px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SourceHanSansSC-Heavy", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.89px;
  line-height         : 45.0px;
}
.index .group .u6587u5b57u52a0u5bc6u4eceu672au5982u6b64u6709u8da3uff0cu5febu8ddfu4f60u7684u597du53cbu4e00u8d77u7545 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 318px;
  height              : auto;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.56px;
  line-height         : 30.0px;
}
.index .group .appstoredownloadcn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 446px;
  height              : 68px;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .group .appstoreicon1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 146px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .u8054u7cfbu6211u4eec {
  background-color    : rgba(255,255,255,0.0);
  right               : 105px;
  top                 : 67px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "PingFangSC-Medium", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(119, 253, 213, 1.0);
  text-align          : left;
  letter-spacing      : 0.56px;
  line-height         : 36.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}